    <!--Header-->
 <section class="my-5">
    <mdb-card class="cardHeader" style="max-width: 1400px; text-align: center; margin-left: auto; margin-right: auto;">
    <h2 class="font-weight-bold h1 py-5">
      <strong>APPIN <mdb-icon fas icon="qrcode" class="red-text"></mdb-icon></strong>
    </h2>
  
    <!--Grid row-->
    <div class="row d-flex justify-content-center">
  
      <!--Grid column-->
      <div class="col-lg-6 col-xl-5 mb-3">
  
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2  waves-light zoom" mdbWavesEffect>
          <picture>
            <source type="image/webp" srcset="https://res.cloudinary.com/appin/image/upload/v1611852619/assetsAppin/UnivalleImgSmall_1_e9y4ll.webp">
              <source type="image/jpeg" srcset="https://res.cloudinary.com/appin/image/upload/v1611852571/assetsAppin/UnivalleImgSmall_e56ypu.jpg">  
                <img src="https://res.cloudinary.com/appin/image/upload/v1611852571/assetsAppin/UnivalleImgSmall_e56ypu.jpg" class="img-fluid" alt="Sample project image">
          </picture>
         
          <a href="http://cartago.univalle.edu.co/" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body>
          <a href="http://cartago.univalle.edu.co/" target="_blank" class="red-text">
            <h5 class="font-weight-bold mt-2 mb-3">
              <mdb-icon fas icon="university"></mdb-icon> Universidad del valle sede Cartago</h5>
          </a>
          <a mdbBtn type="button" color="danger"  mdbWavesEffect href="http://cartago.univalle.edu.co/" target="_blank">Ver más...</a>
        </mdb-card-body>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-6 col-xl-5 mb-3">
  
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2  waves-light zoom" mdbWavesEffect>
          <picture>
            <source type="image/webp" srcset="https://res.cloudinary.com/appin/image/upload/v1611853014/assetsAppin/UnivalleImgYumbo_pkv6vk.webp">
              <source type="image/jpeg" srcset="https://res.cloudinary.com/appin/image/upload/v1611853013/assetsAppin/UnivalleImgYumbo_e6l18s.jpg">  
                <img src="https://res.cloudinary.com/appin/image/upload/v1611853013/assetsAppin/UnivalleImgYumbo_e6l18s.jpg" class="img-fluid" alt="Sample project image">
          </picture>
          <a href="http://yumbo.univalle.edu.co/" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body>
          <a href="http://yumbo.univalle.edu.co/" target="_blank" class="red-text">
            <h5 class="font-weight-bold mt-2 mb-3">
              <mdb-icon fas icon="university"></mdb-icon> Universidad del valle sede Yumbo</h5>
          </a>
          <a mdbBtn type="button" color="danger"  mdbWavesEffect href="http://yumbo.univalle.edu.co/" target="_blank">
            Ver más...</a>
        </mdb-card-body>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </mdb-card>
    
    </section>
    <!--Header-->
    <!-- Introducción-->
<section class="my-5">
    <hr class="my-5">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Appin App</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-5">Es un proyecto de aplicación móvil desarrollado por el grupo de
      investigación GIIDEA de la universidad del valle para cumplir los siguientes objetivos:
    </p>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-lg-5 mb-lg-0 mb-5 zoom" >
        <!--Image-->
        <picture class="imgIntroApp" style="max-width: 300px; max-height: 500px;">
        <source type="image/webp" srcset="https://res.cloudinary.com/appin/image/upload/v1611783234/assetsAppin/introAppImg_rixlqh.webp" 
        style="max-width: 300px; max-height: 500px;" class="imgIntroApp">
        <source type="image/jpeg" srcset="https://res.cloudinary.com/appin/image/upload/v1611783234/assetsAppin/introAppImg_ljgqay.jpg" 
        style="max-width: 300px; max-height: 500px;" class="imgIntroApp">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/83.jpg" alt="Sample project image" class="img-fluid rounded z-depth-1" 
        style="max-width: 300px; max-height: 500px;" class="imgIntroApp">
        </picture>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-lg-7">
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="users" size="2x" class="cyan-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">FORUM</h5>
            <p class="grey-text">universidad del valle siempre va a estar dispuesta con la reglamentación local por las secretarías 
              de salud o ministerio de salud en el cual se velará por el cumplimiento del forum recomendado para cada sede, en la 
              aplicación y web del proyecto APPIN  a nuestros usuarios o al público se reflejará el forum en su momento y de la misma
              forma cada sede podrá velar por su cumplimiento realizando control al máximo de personas que ingresan al campus.
            </p>
          </div>
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row mb-3">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="database" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Recolección de datos individuales del usuario</h5>
            <p class="grey-text">La aplicación permitirá realizar seguimiento individual de cada usuario desde el momento
              que ingresa al campus universitario, permite su identificación, fecha y hora de ingreso.
              Desde su ingreso realiza un proceso de notificaciones para realizar el lavado de manos varias veces durante
              su estadía en el campus, permitiendo mantener un ambiente sano y evitando posibles contagios, en caso que el 
              usuario no realice el proceso de lavado el personal administrativo podrá evidenciar la falta del proceso del usuario
              y poder dirigirse a él a su llamado a realizar el proceso de desinfección. 
            </p>
          </div>
        </div>
        <!-- Grid row -->
        <!-- Grid row -->
        <div class="row">
          <div class="col-md-1 col-2">
            <mdb-icon fas icon="heartbeat" size="2x" class="red-text"></mdb-icon>
          </div>
          <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">Datos individuales del estado de salud</h5>
            <p class="grey-text mb-0">Cada día desde el ingreso se tomará la temperatura y oxigenación del usuario, siendo esta
              información necesaria para su ingreso, pero no obstante el usuario puede indicar síntomas adicionales como dolor de 
              garganta, tos, dificultad para respirar, dolor muscular o ninguno, siendo estos datos necesarios para identificar
              desde el área administrativa algún usuario con posibilidades de ser portador del covid-19 y prevenir contagiar a 
              más integrantes del campus universitario.
            </p>
          </div>
        </div>
        <!-- Grid row -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <hr class="my-5">
  </section>
    <!-- Introducción-->
    <!-- Guía de procedimientos -->
<mdb-card class="cardGlobal" style="max-width: 1400px; text-align: center; margin-left: auto; margin-right: auto;">
        <!-- Projects section v.3 -->
        <section class="my-5">
        
            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Procedimiento de uso para la aplicación móvil</h2>
            <!-- Section description -->
            <mdb-card class="procedimientosCards" style="max-width: 1200px; text-align: center; margin-left: auto; margin-right: auto;">
            <!-- Grid row 1 -->
            <div class="row">  
                <!-- Grid column -->
                <div class="col-lg-7">
                  <!-- Grid row -->
                  <div class="row mb-3">
                    <div class="col-md-1 col-2">
                      <mdb-icon fas icon="arrow-alt-circle-down" size="2x" class="green-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Descargar la aplicación</h5>
                      <p class="grey-text">Encuentra nuestra aplicación desde las principales appstore, sigue el siguiente link
                        para su respectiva descarga.
                      </p>
                      <button mdbBtn type="button" color="success"  mdbWavesEffect (click)="basicModal2.show()">Descargar aplicación</button>
                    </div>
                  </div>
        
                  
        
        <div mdbModal #basicModal2="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Aplicación APK</h4>
              </div>
              <div class="modal-body">
                <picture class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;">
                  <source class="pictureProcedimiento" type="image/webp" 
                  style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1637606336/assetsAppin/aceptarDescarga_jw8lfz.webp" >
                  <source class="pictureProcedimiento" type="image/jpeg" 
                  style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1637606401/assetsAppin/aceptarDescarga_d2xeg7.jpg">
                  <img class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;"
                  src="https://res.cloudinary.com/appin/image/upload/v1637606401/assetsAppin/aceptarDescarga_d2xeg7.jpgjpg">
                </picture>
              </div>
              <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Cerrar</button>
                <a type="button" href="../../../assets/apkAppin.apk" download="apkAppin" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect >Descargar APK</a>
              </div>
            </div>
          </div>
        </div>
                  
                  <!-- Grid row -->
                 
                  <!-- Grid row -->
                  <div class="row mb-3">
                    <div class="col-md-1 col-2">
                      <mdb-icon fas icon="user-check" size="2x" class="pink-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Registrarse e ingresar</h5>
                      <p class="grey-text">
                        para el ingreso por primera vez a la aplicación móvil y su funcionalidad es necesario realizar
                        el registro de usuario, en el siguiente link te explicamos el proceso de registro.
                        luego para ingresar solo requiere del tipo de institución y su documento de identidad.
                      </p>
                      <button mdbBtn type="button" color="danger"  mdbWavesEffect (click)="basicModal.show()">Ver proceso de registro</button>
                    </div>
                  </div>
                  <!-- Grid row -->
                  <!--Modal de registro-->
                  <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Proceso de registro</h4>
                    </div>
                    <div class="modal-body">
                      <!--Section: Products v.5-->
                <section class="text-center pb-3 my-5">
                <!--Carousel Wrapper-->
                <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                [animation]="'slide'">
                <!--First slide-->
                <mdb-slide>
                  <picture class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;">
                    <source class="pictureProcedimiento" type="image/webp" 
                    style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1637629404/assetsAppin/photo4963451416748337591_s6vtlu.webp" >
                    <source class="pictureProcedimiento" type="image/jpeg" 
                    style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1637629405/assetsAppin/photo4963451416748337591_by69yy.jpg">
                    <img class="pictureProcedimiento"style="max-width: 300px; max-height: 500px;"
                    src="https://res.cloudinary.com/appin/image/upload/v1637629405/assetsAppin/photo4963451416748337591_by69yy.jpg">
                  </picture>
                </mdb-slide>
            <!--/First slide-->
            <!--second slide-->
            <mdb-slide>
              <picture class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;">
                <source class="pictureProcedimiento" type="image/webp" 
                style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1637629780/assetsAppin/registro_twzgt3.webp" >
                <source class="pictureProcedimiento" type="image/jpeg" 
                style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1637629770/assetsAppin/registro_s0vmmt.jpg">
                <img class="pictureProcedimiento"  style="max-width: 300px; max-height: 500px;"
                src="https://res.cloudinary.com/appin/image/upload/v1637629770/assetsAppin/registro_s0vmmt.jpg">
              </picture>
            </mdb-slide>
        <!--/second slide-->
            <!--third slide-->
            <mdb-slide>
              <picture class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;">
                <source class="pictureProcedimiento" type="image/webp" 
                style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1611947930/assetsAppin/procedimientos1img_v2xdru.webp" >
                <source class="pictureProcedimiento" type="image/jpeg" 
                style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1611947930/assetsAppin/procedimientos1img_zrzj0z.jpg">
                <img class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;"
                 src="https://res.cloudinary.com/appin/image/upload/v1611947930/assetsAppin/procedimientos1img_zrzj0z.jpg">
              </picture>
            </mdb-slide>
        <!--/third slide-->
          </mdb-carousel>
          <!--/.Carousel Wrapper-->
        </section>
        <!--Section: Products v.5-->
                    </div>
                    <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Cerrar</button>
                    </div>
                    </div>
                    </div>
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-5 zoom" >
                  <!--Image-->
                  <picture class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;">
                        <source class="pictureProcedimiento" type="image/webp" 
                        style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1611947930/assetsAppin/procedimientos1img_v2xdru.webp" >
                        <source class="pictureProcedimiento" type="image/jpeg" 
                        style="max-width: 300px; max-height: 500px;" srcset="https://res.cloudinary.com/appin/image/upload/v1611947930/assetsAppin/procedimientos1img_zrzj0z.jpg">
                        <img class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;"
                        src="https://res.cloudinary.com/appin/image/upload/v1611947930/assetsAppin/procedimientos1img_zrzj0z.jpg">
                  </picture>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row 1-->
            </mdb-card>
            <hr class="my-5">
            <mdb-card class="procedimientosCards" style="max-width: 1200px; text-align: center; margin-left: auto; margin-right: auto;">
            <!-- Grid row 2-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-lg-5 mb-lg-0 mb-5 zoom">
                  <!--Image-->
                  <picture class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;">
                    <source class="pictureProcedimiento" type="image/webp" style="max-width: 300px; max-height: 500px;" 
                    srcset="https://res.cloudinary.com/appin/image/upload/v1611953551/assetsAppin/procedimientos2img_jjh5hy.webp" >
                    <source class="pictureProcedimiento" type="image/jpeg" style="max-width: 300px; max-height: 500px;" 
                    srcset="https://res.cloudinary.com/appin/image/upload/v1611953551/assetsAppin/procedimientos2img_j4cdzu.jpg">
                    <img class="pictureProcedimiento" style="max-width: 300px; max-height: 500px;" 
                    src="https://res.cloudinary.com/appin/image/upload/v1611953551/assetsAppin/procedimientos2img_j4cdzu.jpg">
                  </picture>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-7">
                  <!-- Grid row -->
                  <div class="row mb-3">
                    <div class="col-md-1 col-2">
                      <mdb-icon fas icon="book" size="2x" class="cyan-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Datos necesarios para el ingreso</h5>
                      <p class="grey-text">En la entrada de cada campus universitario se procederá a la toma de temperatura
                        y oxigenación al usuario y este deberá ingresar los valores en la aplicación móvil al momento de ingresar
                        al campus. Esto permitirá tener un mejor control en sintomas del covid-19. 
                      </p>
                    </div>
                  </div>
                  <!-- Grid row -->
                  <!-- Grid row -->
                  <div class="row mb-3">
                    <div class="col-md-1 col-2">
                      <mdb-icon fas icon="qrcode" size="2x" class="red-text"></mdb-icon>
                    </div>
                    <div class="col-md-11 col-10">
                      <h5 class="font-weight-bold mb-3">Lector de Qr</h5>
                      <p class="grey-text">Para ingresar a la universidad el usuario debe dar click en "leer código qr", dicho código
                        se encuentra en la entrada del campus y esto permite tomar los datos de usuario y relacionarlo con la fecha
                        y hora de ingreso.
                      </p>
                    </div>
                  </div>
                  <!-- Grid row -->
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row 2 -->
            </mdb-card>
            
          </section>
          <!-- Projects section v.3 -->
        </mdb-card>
    <!-- Guía de procedimientos -->   
    <!-- PDF -->
<div>
<br/>
<br/> 
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-2">Manual de Usuario</h2>
    <!-- Section description -->
    <p class="grey-text text-center w-responsive mx-auto mb-2">"En este apartado podrá encontrar el manual o guía de usuario, el cual le permitirà
        validar las expectativas de uso sobre la aplicación móvil APPIN o despejar dudas de su respectiva funcionalidad"
    </p>
    <br/>
    <br/>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://drive.google.com/uc?export=view&id=1i93c3F0RmjgNh80s_SytPrcvLMmeGP-T" allowfullscreen></iframe>
        </div>
</div>
    <!-- PDF -->
    <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #b92828;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Conectate con nosotros en nuestras redes!</h6>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- web Giidea -->
            <a class="tw-ic" href="https://giidea.correounivalle.edu.co/" target="_Blanck"> 
                <img src="../../../assets/internet.png" alt="" style="max-width: 30px; max-height: 30px;">
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">APPIN WEB</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Nuestra plataforma web fue desarrollada con el fin de realizar un material de apoyo explícito en la explicación de 
            funcionamiento de la aplicación móvil APPIN, para que de manera previa nuestros usuarios comprendan su funcionamiento 
            y tengan la posibilidad de incluir con la herramienta apk una fácil instalación en su dispositivo móvil.
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">APPIN MÓVIL</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            Nuestros usuarios podrán acceder a la aplicación móvil de forma sencilla y directa, al realizar click en el botón 
            Descargar, el navegador procederá en la entrega de un archivo apk disponible para android y ios, la instalación solo requiere 
            de permiso de instalación al ser de una fuente diferente a la playstore.
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Semillero Giidea</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            Somos un grupo de personas interesadas en la transformación digital de nuestro país, nos enfocamos en la investigación 
            y desarrollo constante de nuevas tecnologías que mejoren las problemáticas sociales de nuestro país pero a su vez nuestros
            proyectos sean aplicables a nivel mundial para hacer una sociedad cada vez mejor.
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contacto</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Colombia - Universidad del valle
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> proyectoappin2020@gmail.com
          </p>
          <p>
            <mdb-icon fab icon="whatsapp"></mdb-icon> + 57 317 3725482
          </p>
          <p>
            <mdb-icon fab icon="whatsapp"></mdb-icon> + 57 321 7009673
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://giidea.correounivalle.edu.co/" target="_Blanck"> GIIDEA</a>
    </div>
    <!-- Copyright -->
  </footer>
  
  <!-- Footer -->